* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--dark: #181818;
	--dark-gradient: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(48, 48, 48, 1) 100%);
	--white: #fff;
	--dark-green: #015958;
	--green: #008f8c;
	--light-green: #0caba8;
	--red: tomato;
}

body {
	background-color: var(--dark);
	color: var(--white);
	display: flex;
	margin-top: 100px;
	justify-content: space-between;
}

.heading-box {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

.btn {
	background-color: rgba(0, 143, 140, 0.1);
	border: none;
	border-bottom: 2px solid var(--green);
	border-radius: 5px;
	padding: 5px 10px;
	color: var(--light-green);
	font-size: 20px;
	cursor: pointer;
	transition: 0.1s;
}

.btn:hover {
	background-color: rgba(0, 143, 140, 0.7);
	color: var(--white);
}

.btn-active {
	background-color: rgba(0, 143, 140, 0.7);
	color: var(--white);
}

.registry-box-container {
	margin-left: 150px;
}

.registy-box-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
}

.registry-heading {
	margin-bottom: 40px;
}

.cell-heading {
	margin: 15px 0 30px 0;
}

.registy-input {
	width: 150px;
	height: 70px;
	background-color: rgba(0, 143, 140, 0.1);
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px 10px;
	line-height: 60px;
	text-align: center;
	font-size: 28px;
}

.registy-input input {
	width: 70px;
	font-size: 28px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--green);
	color: var(--light-green);
	text-align: center;
	border-radius: 5px;
}

.cells-box-wrapper {
	width: 800px;
}

.cell-input {
	width: 200px;
	height: 50px;
	background-color: rgba(0, 143, 140, 0.1);
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px 10px;
	text-align: center;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid var(--green);
	color: var(--light-green);
}

.cellbtn {
	height: 50px;
	border: none;
	border-bottom: 2px solid var(--green);
}

.cells-box-wrapper p {
	color: #909090;
	font-size: 10px;
}

.operation-box-container {
	margin-right: 200px;
}

.operation-heading {
	margin-bottom: 30px;
}

.operation-box-wrapper {
	display: flex;
}

.operation-name {
	margin: 20px 0;
	text-align: center;
}

.operation-box-wrapper .btn {
	margin: 0 20px 0 0;
}

.multiply-operation {
	margin-top: 50px;
	text-align: center;
}

.flex-operation {
	display: flex;
	margin: 20px 0;
	justify-content: center;
	text-align: left;
}

.flex-operation input {
	width: 200px;
	height: 50px;
	background-color: rgba(0, 143, 140, 0.1);
	border-radius: 5px;
	margin-right: 20px;
	padding: 5px 10px;
	text-align: center;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid var(--green);
	color: var(--light-green);
}

.flex-operation button {
	width: 98px;
	background-color: rgba(0, 143, 140, 0.1);
	border: none;
	border-bottom: 2px solid var(--green);
	border-radius: 5px;
	padding: 5px 10px;
	color: var(--light-green);
	font-size: 11px;
	cursor: pointer;
}

.flex-operation button:hover {
	background-color: rgba(0, 143, 140, 0.7);
	color: var(--white);
}

.flex-operation .operation-btn-active {
	background-color: rgba(0, 143, 140, 0.7);
	color: var(--white);
}

.action-hiden {
	display: none;
}

.error-value {
	border: 2px solid var(--red);
}

footer {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
}
